<div class="table" role="table">
  <div class="table-header" role="rowheader">
    <div class="table-row" role="row" [style]="_style">
      <div *ngFor="let column of _columns" class="table-cell" role="cell" (mousedown)="onMouseDown($event)">
        <div [innerHTML]="_headerRenderer[column]()"></div>
      </div>
    </div>
  </div>
  <div class="table-body" role="rowgroup">
    <div
      *ngFor="let item of data; index as i"
      class="table-row"
      role="row"
      (dblclick)="onRowDbClick(i, item)"
      [style]="_style"
    >
      <div *ngFor="let column of _columns" class="table-cell" role="cell">
        <div  [innerHTML]="_cellRenderer[column](item)"></div>
      </div>
    </div>
  </div>
</div>

